* {
    padding: 0px;
    margin: 0px;
}

.cuerpoContacto{
    height: 100%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-image: url(../imagenesyvideos/whisperism.png);
	background-size: cover;
    background-repeat: repeat-y;
    .divDeIframe{
        border-radius: 200px;
    }.iframeEn{
        border-radius: 200px;
    }.formularioAct{
        color:rgb(0, 0, 0);
	    background-color: white;
	    background-image: url(../imagenesyvideos/13251.jpg);
	    border-radius: 100px;
	    border: 1px solid rgb(0, 0, 0);
	    opacity: 100%;
        input[type="submit"]:hover{
            cursor: pointer;
        }
    }
}

div img {
    border-radius: 100px;
}

.contactoImp{
    background-color:#f5e4e4;
	border-radius: 100px;
	color:#050505;
}
.ubicacionFisica{
    background-color:#f5e4e4 ;
	color:#050505;
	padding: 20px;
	margin: 20px;
	border-radius: 100px;
}

.bajarBoton2{
    margin: 20px;
	text-decoration:none;
	font-weight: 600;
	font-size:20px;
	color:#050505;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left:40px;
	padding-right: 40px;
	background-color: #f5e4e4;
    display: block;
    border-radius: 100px;
}

.bajarBoton2:hover {
    background-color: #000000;
    color: white;
}

.btn-whatsapp{
    display:block;
    width:50px;
    height:50px;
    color: #fff;
    position: sticky;
    right:50px;
    bottom:50px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}


